/* START SIDEBAR */
.sub-sidebar-content {
  padding: 30px 38px 31px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 193px;
}

.sub-sidebar-list {
  list-style: none;
}

.sub-sidebar-list li {
  display: flex;
  align-items: center;
  padding: 0 38px;
  margin-top: 29px;
  height: 41px;
  &:hover {
    border-radius: var(--border-radius-s);
    background-color: var(--primary-color-100)
  }
}

.sub-sidebar-list li a {
  text-decoration: none;
  font-weight: var(--font-weight-m);
  color: var(--default-color);
  font-size: var(--font-size-s);
}

.sub-sidebar-list li a img {
  font-weight: var(--font-weight-m);
  padding-right: 15px;
  color: var(--default-color);
}

.navigation {
  margin: 55px auto 0;
}

.sub-sidebar-list li:nth-child(1) {
  margin-top: 0;
}

.btn-logout {
  display: flex;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: var(--default-color);
  font-weight: var(--font-weight-m);
  background-color: var(--primary-color-150);
}

.btn-logout-icon {
  padding-left: 23px;
}

/* STYLE APPLIED TO THE TABLET */
@media (min-width: 766px) {
  .sub-sidebar-content {
    height: 100%;
    padding: 70px 38px 31px;
  }
}

/* STYLE APPLIED TO THE DESKTOP */
@media (min-width: 1024px) {
  .sub-sidebar-content {
    padding: 91px 38px 31px;
  }
}
/* END SIDEBAR */

