/* START PAGE STUDENTS LIST */
.body-page-students-list {
  background-color: var(--secondary-color-250);
}

.container-page-students-list {
  flex-direction: row;
  display: flex;
}

.container-sidebar {
  width: 270px;
  min-height: 100vh;
}

.container-content {
  width: 100%;
}

.header {
  display: flex;
  height: 80px;
  background-color: var(--secondary-color-50);
}

.btn-show-hide-sidebar,
.btn-notification,
.btn-sort {
  border: none;
  background-color: var(--secondary-color-50);
  cursor: pointer;
}

.btn-notification {
  margin-right: 25px;
}

.btn-show-hide-sidebar {
  margin-left: 15px;
}

.btn-show-sidebar img {
  width: 18px;
  height: 18px;
}

.btn-hide-sidebar {
  display: none;
}

.set-width-container-content {
  width: calc(100% - 270px);
}

.main-sidebar {
  flex-direction: column;
  justify-content: space-between;
  background: var(--primary-color-150);
  height: 100%;
}

.hide-sidebar {
  display: none;
}

.profile {
  padding: 18px 25px 0;
  text-align: center;
}

.avatar-user {
  margin-top: 54px;
  border-radius: 50%;
}

.btn-delete {
  padding-right: 20px;
}

/* Students list header */
.list-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 15px 0;
  border-bottom: 2px solid var(--secondary-color-150);
}

.students-list-heading {
  font-size: var(--font-size-m);
}

.btn-sort {
  background-color: var(--secondary-color-250);
  margin-left: auto;
}

.btn-add-student {
  padding: 14px 27px;
  margin-left: 15px;
  margin-bottom: 12px;
}

.btn-table {
  border: none;
  background-color: var(--secondary-color-50);
  cursor: pointer;
}

.vertical-scroll {
  width: 100%;
  height: 80%;
  overflow-y: auto;
}

/* STYLE APPLIED TO THE TABLET */
@media (min-width: 766px) {
  .container-content {
    width: calc(100% - 270px);
  }

  .header {
    height: 70px;
  }

  .main-sidebar {
    display: flex;
    height: 100%;
    top: 0;
    left: 0;
  }

  .btn-show-hide-sidebar {
    margin-left: 30px;
  }

  .btn-hide-sidebar {
    display: inline-block;
  }

  .btn-show-sidebar {
    display: none;
  }

  .list-heading {
    margin: 12px 30px 0;
  }
}

/* STYLE APPLIED TO THE DESKTOP */
@media (min-width: 1024px) {
  .header {
    height: 60px;
  }

  .profile {
    padding: 18px 25px 0;
    text-align: center;
  }

  .avatar-user {
    margin-top: 54px;
    border-radius: 50%;
  }

  .form-search {
    margin: 12px 27px 12px auto;
  }

  .btn-notification {
    margin-right: 51px;
  }

  .btn-add-student {
    margin-left: 30px;
  }
}
/* END PAGE STUDENTS LIST */
