/* Students list table mobile */
.students-list-table {
  display: grid;
  grid-row-gap: 20px;
  overflow-x:auto;
  border-spacing: 0 10px;
  margin: 22px 15px 0;
}

.table-thead li,
.table-row li {
  min-width: 1000px;
}

.table-thead {
  display: grid;
  grid-template-columns: 78px 17fr 20fr 20fr 30fr 20fr 10fr 10fr;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-xs);
  color: var(--secondary-color-300);
}

.table-row {
  display: grid;
  grid-template-columns: 78px 17fr 20fr 20fr 30fr 20fr 10fr 10fr;
  font-weight: var(--font-weight-s);
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  background-color: var(--secondary-color-50);
  align-items: center;
  border-radius: var(--border-radius-m);
}

.table-row span:nth-child(1) {
  padding: 20px 0 20px 15px;
}

.table-thead span:nth-child(2),
.table-row span:nth-child(2) {
  padding-left: 31px;
}

.table-thead span:nth-child(n+3),
.table-row span:nth-child(n+3) {
  padding-left: 15px;
}

.table-thead span:nth-child(2),
.table-row span:nth-child(2) {
  min-width: 100px;
}

.table-thead span:nth-child(3),
.table-row span:nth-child(3) {
  min-width: 300px;
}

.table-thead span:nth-child(4),
.table-row span:nth-child(4) {
  min-width: 130px;
}

.table-thead span:nth-child(5),
.table-row span:nth-child(5) {
  min-width: 160px;
}

.table-thead span:nth-child(6),
.table-row span:nth-child(6) {
  min-width: 110px;
}

@media (min-width: 766px) {
  .students-list-table {
    margin: 22px 30px 0;
  }
}
