/* START INPUT */
/* STYLE APPLIED TO THE MOBILE */
.form-input {
  border-radius: var(--border-radius-s);
  border-style: solid;
  border-color: var(--secondary-color-150);
  margin-top: 10px;
  padding: 15px 15px;
  font-family: var(--font-family);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-s);
}
/* END INPUT */
