/* START BORDER */
:root {
  /* Border radius */
  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 10px;
  --border-radius-xl: 30px;
  --border-radius-xxl: 50%;

  /* Border */
  --border-s: 1px;
  --border-m: 16px;
}
/* END BORDER */
